@import "tailwindcss";

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-brand: var(--brand);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0a0a0a;
  --secondary: #ededed;
  --brand: #047857;
  --accent1: #f59e0b;
  --accent2: #dc2626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.custom-shape-divider-bottom-1741134473 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1741134473 svg {
  position: relative;
  display: block;
  width: calc(226% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1741134473 .shape-fill {
  fill: var(--primary);
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
