@import "tailwindcss";

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --brand: #047857;
  --accent1: #f59e0b;
  --accent2: #dc2626;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #151e15;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
